/* common starts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: #626262;
}
/* common end */

/* Header Section Start */

header {
  padding: 72px 0;
}

.container {
  margin: 0 auto;
  width: 88.33%;
}

.headercontents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis: 11.79%;
}
.logo img {
  width: 100%;
}
nav {
  flex-basis: 53.77%;
  text-align: end;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin: 0 30px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid transparent;
  transition: 0.5s;
  padding: 2px 5px;
}
nav ul li a:hover {
  border-top: 1px solid #626262;
  border-bottom: 1px solid #626262;
  transition: 0.5s;
}

nav ul li:last-child {
  margin-right: 0px;
}

/* Header Section End */

/* Banner Section Start */
.banner {
}
.banner-image {
}
.banner-image img {
  width: 100%;
}
/* Banner Section End */

/* Article section start */
.article {
  padding: 95px 0;
}
.container2 {
  margin: 0 auto;
  width: 75%;
}
.article-contents {
}
.common-tag {
  margin: 25px 0 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}
.common-title {
  margin: 15px 0;
  font-size: 30px;
  font-weight: 400;
}
.common-text {
  margin: 25px 0;
  line-height: 24px;
}
.article-contents a {
  text-decoration: none;
}
.extra-margin {
  margin-top: 50px;
}
/* Article section end */

/* Blog Section Start */
.blog {
  padding: 100px 0;
}
.blog-box {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-between;
  grid-row-gap: 110px;
}
.blog-contents {
}
.blog-image {
}
.blog-image img {
  width: 100%;
}
/* Blog Section End */

/* Newsletter Section Start */
.newsletter {
  padding: 90px 0;
  background-color: #f0f0f0;
}
.signupbox {
  text-align: center;
}
.s_h1 {
  color: #333333;
  margin-bottom: 75px;
  margin-top: 0;
}

.signupform {
  background-color: transparent;
  width: 400px;
  margin: 0 auto;
}
.signupform form {
  position: relative;
  background-color: transparent;
  width: 100%;
}
.signupform input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px 40px 10px 10px;
}
.signupform input::placeholder {
  font-size: 14px;
}
.signupform input:focus {
  outline: 0;
}

.signupform button {
  position: absolute;
  top: 25%;
  right: 0;
  border: none;
  cursor: pointer;
}
.signupform button img {
  width: 100%;
}

/* Newsletter Section End */

.blog-button {
  padding: 150px 0;
  text-align: center;
}
.blog-button button {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #626262;
  padding: 20px 40px;
  transition: 0.5s;
}
.blog-button button:hover {
  color: white;
  background-color: #626262;
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/* footer start */
footer {
  background-color: #f0f0f0;
  padding: 43px 0;
}

footer ul {
  font-size: 14px;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 13px;
}
footer ul li a,
footer ul li {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.footer-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-footer {
}
.left-footer a {
}
/* footer end */
